body{
    margin: 0;
    padding: 0;
}


div.header{
    width: 100vw;
    height: 100vh;
    background-image: url('img2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10px 10px;
    /* border: 10px solid red; */
    background-origin: border-box;

    
}


h1[type='logo']
{
    color:burlywood;
    position:relative ;
    right: -80px;
    top: 40px;
    font-size:28px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    }


div.menu{
width: 400px;
height: 75px;
position: relative;
top: 0;
left: -175px;
}

ul{
display: flex;

}

li{
display: flex;
}


ul a{
    position: relative;
    right: -1100px;
    margin-right: 19px;
    font-family: 'Times New Roman', Times, serif;
    font-size:20px;
    color:burlywood;
    text-decoration: none;
}

ul a:hover{
    text-decoration: line-through;
}

div.head font{
    color:burlywood;
    font-size:32px;
    font-family: 'Times New Roman', Times, serif;
    position:relative ;
    right: -200px;
    top: -20px;
}


div.head h2{
    color:burlywood;
    font-size:100px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    position:relative ;
    right: -200px;
    top: -95px;
    line-height: 120px;
}



input[type='text']
{
    position:relative ;
    right: -220px;
    top: -120px;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    /* color: white; */
    width: 260px;
    height: 50px;
    border: 1px solid burlywood;
    border-radius: 2px;
    background: none;
    text-align: center;
    color: white;

}


input[type='text']:hover{
    border: 1px solid white;
    cursor: pointer;
}



/*Header is end here */

/*hero 1 is start from here */

div.hero1{
    width: 100vw;
    height: 40vh;
    border-right: 4px solid rgb(242, 239, 235);
    border-bottom: 4px solid rgb(242, 239, 235);
    border-left: 4px solid rgb(242, 239, 235);
    position: relative;
    right: -10px;
}

div.hero1 h1{
color: burlywood;
font-family: 'Times New Roman', Times, serif;
font-size: 26px;
font-weight: normal;
position: relative;
top: 10px;
right: -150px;
}

div.hero1 h2{
    color: rgba(41, 39, 39, 0.778);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    position: relative;
    top: -20px;
    right: -150px;
}

div.hero1 p{
    color: rgba(41, 39, 39, 0.778);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    position: relative;
    top: -120px;
    right: -700px;
    
}



div.hero2{
    width: 1482px;
    height: 650px;
    border-top: 2px solid rgb(242, 239, 235);
    border-right: 4px solid rgb(242, 239, 235);
    border-bottom: 4px solid rgb(242, 239, 235);
    border-left: 4px solid rgb(242, 239, 235);
    position: relative;
    right: -10px;
}


div.hero2 img{
    width: 800px;
    height:520px;
    position: relative;
    right: -270px;
    top:60px;
}


div.hero3{
    width: 1482px;
    height: 300px;
    border-top: 2px solid rgb(242, 239, 235);
    border-right: 4px solid rgb(242, 239, 235);
    border-bottom: 4px solid rgb(242, 239, 235);
    border-left: 4px solid rgb(242, 239, 235);
    position: relative;
    right: -10px;
}


div.hero3 h1{
    color: burlywood;
    font-family: 'Times New Roman', Times, serif;
    font-size: 26px;
    font-weight: normal;
    position: relative;
    top: 10px;
    right: -150px;
    }
    
    div.hero3 h2{
        color: rgba(41, 39, 39, 0.778);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 50px;
        position: relative;
        top: -20px;
        right: -150px;
    }
    
    div.hero3 p{
        color: rgba(41, 39, 39, 0.778);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 17px;
        position: relative;
        top: -120px;
        right: -700px;
    }

div.hero4{
    width: 1482px;
    height: 600px;
    border-top: 2px solid rgb(242, 239, 235);
    border-right: 4px solid rgb(242, 239, 235);
    border-bottom: 4px solid rgb(242, 239, 235);
    border-left: 4px solid rgb(242, 239, 235);
    position: relative;
    right: -10px;
}



input[name='hov']
{
    position:relative ;
    right: -320px;
    top: 40px;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    /* color: white; */
    width: 260px;
    height: 50px;
    border: 1px solid burlywood;
    border-radius: 2px;
    background: none;
    text-align: center;
    color: rgba(41, 39, 39, 0.778);
}



input[name='hov']:hover
{
   
    border: 1px solid rgba(41, 39, 39, 0.778);
    cursor: pointer;
   
}


img{
    width: 300px;
    height: 300px;
}

div.one{
 
    width: 300px;
    height: 400px;
    float: right;
}

div.two{
  
    width: 300px;
    height: 400px;
    float: right;
}

div.three{
    width: 300px;
    height: 400px;
    float: right;
}

div.extra{
    position: relative;
    right: 320px;
    bottom: -40px;
}



div.one h1{
    color: rgba(41, 39, 39, 0.778);
    font-family: 'Times New Roman', Times, serif;
    font-size: 26px;
    font-weight: normal;
    text-align: center;
    

}

div.two h1{
    color: rgba(41, 39, 39, 0.778);
    font-family: 'Times New Roman', Times, serif;
    font-size: 26px;
    font-weight: normal;
    text-align: center;
    

}


div.three h1{
    color: rgba(41, 39, 39, 0.778);
    font-family: 'Times New Roman', Times, serif;
    font-size: 26px;
    font-weight: normal;
    text-align: center;
    

}


div.hero5{
    width: 1482px;
    height: 300px;
    border-top: 2px solid rgb(242, 239, 235);
    border-right: 4px solid rgb(242, 239, 235);
    border-bottom: 4px solid rgb(242, 239, 235);
    border-left: 4px solid rgb(242, 239, 235);
    position: relative;
    right: -10px;
}


div.hero5 h1{
    color: burlywood;
    font-family: 'Times New Roman', Times, serif;
    font-size: 26px;
    font-weight: normal;
    position: relative;
    top: 10px;
    right: -150px;
    }
    
    div.hero5 h2{
        color: rgba(41, 39, 39, 0.778);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 50px;
        position: relative;
        top: -20px;
        right: -150px;
    }
    
    div.hero5 p{
        color: rgba(41, 39, 39, 0.778);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 17px;
        position: relative;
        top: -80px;
        right: -580px;
    }

div.hero6{
    width: 1482px;
    height: 700px;
    border-top: 2px solid rgb(242, 239, 235);
    border-right: 4px solid rgb(242, 239, 235);
    border-bottom: 4px solid rgb(242, 239, 235);
    border-left: 4px solid rgb(242, 239, 235);
    position: relative;
    right: -10px;
}


input[name='book']
{
    /* position:relative ;
    right: -280px;
    top: -130px; */
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    /* color: white; */
    width: 260px;
    height: 50px;
    border: 1px solid burlywood;
    border-radius: 2px;
    background: none;
    text-align: center;
    color: rgba(41, 39, 39, 0.778);
    position:relative ;
    top: 120px;
    right: -590px;
}

input[name='book']:hover
{
   
    border: 1px solid rgba(41, 39, 39, 0.778);
    cursor: pointer;
}



div.footer{
    width: 1482px;
    height: 80px;
    border-top: 2px solid rgb(242, 239, 235);
    border-right: 4px solid rgb(242, 239, 235);
    border-bottom: 4px solid rgb(242, 239, 235);
    border-left: 4px solid rgb(242, 239, 235);
    position: relative;
    right: -10px;
}


div.footer p{
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color:  rgba(41, 39, 39, 0.778);
    font-weight: normal;
    text-align: center;
}



.map-container iframe {
    width: 1000px;
    height: 450px;
    border: none;
    position: relative;
    left: 260px;
    top: 40px;
    
}